node-red-flow.json
[
  {
    "id": "9e36bdfc225181cb",
    "type": "tab",
    "label": "VENU360 testing",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "b07898cd6e3c5fda",
    "type": "debug",
    "z": "9e36bdfc225181cb",
    "name": "Responses",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1470,
    "y": 620,
    "wires": []
  },
  {
    "id": "6c87e947fdef28d5",
    "type": "inject",
    "z": "9e36bdfc225181cb",
    "name": "Connect",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": true,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 160,
    "y": 320,
    "wires": [["ee8ab2573b898736"]]
  },
  {
    "id": "9fe8e9fc7855cbf2",
    "type": "tcp request",
    "z": "9e36bdfc225181cb",
    "name": "TCP connection",
    "server": "192.168.20.108",
    "port": "19272",
    "out": "sit",
    "ret": "string",
    "splitc": " ",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 1220,
    "y": 620,
    "wires": [["b07898cd6e3c5fda", "03c63bbee93a1bf6"]]
  },
  {
    "id": "5b691c713c61663d",
    "type": "inject",
    "z": "9e36bdfc225181cb",
    "name": "Mute output 5 and 6",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 190,
    "y": 620,
    "wires": [["bc6be49933a3dcd7", "69419bae5b1363da"]]
  },
  {
    "id": "e7067578a3e1aca9",
    "type": "inject",
    "z": "9e36bdfc225181cb",
    "name": "Unmute output 5 and 6",
    "props": [],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 200,
    "y": 680,
    "wires": [["2a639a49427c913d", "50843d584c5f1e04"]]
  },
  {
    "id": "cd4aae5124042162",
    "type": "inject",
    "z": "9e36bdfc225181cb",
    "name": "Login",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "connect administrator \"administrator\"",
    "payloadType": "str",
    "x": 150,
    "y": 560,
    "wires": [["ee8ab2573b898736"]]
  },
  {
    "id": "03c63bbee93a1bf6",
    "type": "switch",
    "z": "9e36bdfc225181cb",
    "name": "If init connection",
    "property": "payload",
    "propertyType": "msg",
    "rules": [{ "t": "cont", "v": "HiQnet", "vt": "str" }],
    "checkall": "true",
    "repair": false,
    "outputs": 1,
    "x": 980,
    "y": 360,
    "wires": [["71223d8446e53024"]]
  },
  {
    "id": "71223d8446e53024",
    "type": "change",
    "z": "9e36bdfc225181cb",
    "name": "Send login payload",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "connect administrator \"administrator\"",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1210,
    "y": 360,
    "wires": [["ee8ab2573b898736"]]
  },
  {
    "id": "ee8ab2573b898736",
    "type": "function",
    "z": "9e36bdfc225181cb",
    "name": "Add \\n to payload",
    "func": "if (typeof msg.payload === \"object\") {\n    msg.payload = JSON.stringify(msg.payload);\n}\n\nmsg.payload = msg.payload + \"\\n\";\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 990,
    "y": 620,
    "wires": [["9fe8e9fc7855cbf2"]]
  },
  {
    "id": "5601cb297a33085b",
    "type": "inject",
    "z": "9e36bdfc225181cb",
    "name": "Recall preset 1",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\":\"load_preset\",\"method\":\"Load\",\"params\":[\"1\"]}",
    "payloadType": "json",
    "x": 180,
    "y": 380,
    "wires": [["ee8ab2573b898736"]]
  },
  {
    "id": "bea9cd563f2bc8ec",
    "type": "inject",
    "z": "9e36bdfc225181cb",
    "name": "Recall preset 2",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "{\"id\":\"load_preset\",\"method\":\"Load\",\"params\":[\"2\"]}",
    "payloadType": "json",
    "x": 180,
    "y": 440,
    "wires": [["ee8ab2573b898736"]]
  },
  {
    "id": "b3c9efbf57e4e2d9",
    "type": "delay",
    "z": "9e36bdfc225181cb",
    "name": "",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 730,
    "y": 720,
    "wires": [["ee8ab2573b898736"]]
  },
  {
    "id": "bc6be49933a3dcd7",
    "type": "change",
    "z": "9e36bdfc225181cb",
    "name": "Mute channel 6",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "set \"\\\\Preset\\ZoneGains\\SV\\Channel_6_Mute\\\" \"1\"",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 680,
    "wires": [["ee8ab2573b898736"]]
  },
  {
    "id": "69419bae5b1363da",
    "type": "change",
    "z": "9e36bdfc225181cb",
    "name": "Mute channel 5",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "set \"\\\\Preset\\ZoneGains\\SV\\Channel_5_Mute\\\" \"1\"",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 540,
    "y": 720,
    "wires": [["b3c9efbf57e4e2d9"]]
  },
  {
    "id": "ee45aee51e35dd28",
    "type": "delay",
    "z": "9e36bdfc225181cb",
    "name": "",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "milliseconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 730,
    "y": 820,
    "wires": [["ee8ab2573b898736"]]
  },
  {
    "id": "2a639a49427c913d",
    "type": "change",
    "z": "9e36bdfc225181cb",
    "name": "Unmute channel 6",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "set \"\\\\Preset\\ZoneGains\\SV\\Channel_6_Mute\\\" \"0\"",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 780,
    "wires": [["ee8ab2573b898736"]]
  },
  {
    "id": "50843d584c5f1e04",
    "type": "change",
    "z": "9e36bdfc225181cb",
    "name": "Unmute channel 5",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "set \"\\\\Preset\\ZoneGains\\SV\\Channel_5_Mute\\\" \"0\"",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 550,
    "y": 820,
    "wires": [["ee45aee51e35dd28"]]
  },
  {
    "id": "a631de1847a1c910",
    "type": "server-state-changed",
    "z": "9e36bdfc225181cb",
    "name": "Delay output on/off switch change",
    "server": "19cbf043.6e1dd",
    "version": 4,
    "exposeToHomeAssistant": false,
    "haConfig": [
      { "property": "name", "value": "" },
      { "property": "icon", "value": "" }
    ],
    "entityidfilter": "input_boolean.delay",
    "entityidfiltertype": "exact",
    "outputinitially": true,
    "state_type": "habool",
    "haltifstate": "true",
    "halt_if_type": "bool",
    "halt_if_compare": "is",
    "outputs": 2,
    "output_only_on_state_change": true,
    "for": "0",
    "forType": "num",
    "forUnits": "minutes",
    "ignorePrevStateNull": false,
    "ignorePrevStateUnknown": false,
    "ignorePrevStateUnavailable": true,
    "ignoreCurrentStateUnknown": false,
    "ignoreCurrentStateUnavailable": false,
    "outputProperties": [
      {
        "property": "payload",
        "propertyType": "msg",
        "value": "",
        "valueType": "entityState"
      }
    ],
    "x": 210,
    "y": 820,
    "wires": [
      ["2a639a49427c913d", "50843d584c5f1e04"],
      ["69419bae5b1363da", "bc6be49933a3dcd7"]
    ]
  },
  {
    "id": "75438e09da49c2dd",
    "type": "inject",
    "z": "9e36bdfc225181cb",
    "name": "Sub to progress",
    "props": [{ "p": "payload" }],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "sub \"\\\\Node\\Config\\SV\\Progress\\\"",
    "payloadType": "str",
    "x": 180,
    "y": 500,
    "wires": [["ee8ab2573b898736"]]
  },
  {
    "id": "19cbf043.6e1dd",
    "type": "server",
    "name": "Home Assistant",
    "version": 5,
    "rejectUnauthorizedCerts": true,
    "ha_boolean": "y|yes|true|on|home|open",
    "connectionDelay": true,
    "cacheJson": true,
    "heartbeat": false,
    "heartbeatInterval": 30,
    "areaSelector": "friendlyName",
    "deviceSelector": "friendlyName",
    "entitySelector": "friendlyName",
    "statusSeparator": "at: ",
    "statusYear": "hidden",
    "statusMonth": "short",
    "statusDay": "numeric",
    "statusHourCycle": "h23",
    "statusTimeFormat": "h:m",
    "enableGlobalContextStore": true
  }
]
